body {
    background-color: #EEEEEE;
    font-family: "Sans";
}
#canvasdiv {
    text-align: center;
}
#canvas {
    border: 2px solid black;
}
#usercontrols {
    text-align: center;
}
#usercontrols input {
    width: 10em;
    height: 6em;
}
#userconfig {
    text-align: center;
}
#configToggleButton {
    font-size: x-large;
    width: 3em;
    height: 3em;
}
